Flask==3.0.3
flask-cors==6.0.2
python-dotenv==1.0.1
pymongo==4.15.4
gunicorn==22.0.0

numpy==1.26.4
opencv-python-headless==4.10.0.84
mediapipe==0.10.35
tensorflow==2.16.1
deepface==0.0.93

huggingface_hub==0.36.2
requests==2.32.5
Pillow==11.3.0